li{
    color: green;
}

h1{
    color: white;
    border-color: gray;
    border-width: 1,5px;
    border-style: solid;

    /* o comando abaixo executa o border que fizemos acima em uma linha */
    /* border: 2px dashed orange; */  
}

body{
    background-image: url(https://static.poder360.com.br/2021/04/nasa-crew-2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}